@page "/signup"

<MudCard Elevation="3" Class="pa-6" Style="width:350px;margin: auto">
    <MudForm>
        <div class="d-flex align-center justify-space-between mt-4">
            <MudText Style="margin: auto;
                            font-size: large;
                            font-weight: bold;">CLASSROOM</MudText>
        </div>
        <MudDivider></MudDivider>
        <MudTextField T="string" Label="Username" MaxLength="50" Variant="Variant.Outlined" Margin="Margin.Normal"
            Required="true" RequiredError="The Username field is required." />
        <MudTextField T="string" Label="Firstname" MaxLength="50" Variant="Variant.Outlined" Margin="Margin.Normal"
            Required="true" RequiredError="The Firstname field is required." />
        <MudTextField T="string" Label="Lastname" MaxLength="50" Variant="Variant.Outlined" Margin="Margin.Normal" />
        <MudTextField T="string" @ref="_textFieldPassword" Label="Password" MaxLength="50" Variant="Variant.Outlined"
            Margin="Margin.Normal" Required="true" RequiredError="The Password field is required."
            InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon"
            OnAdornmentClick="PasswordShow" AdornmentAriaLabel="Show Password" />
        <MudTextField T="string" Label="Confirm password"
            Validation="@(new Func<string, string?>((value) => _textFieldPassword?.Value != value ? "Confirm password is not match" : null))"
            MaxLength="50" Variant="Variant.Outlined" Margin="Margin.Normal" InputType="@_passwordInput"
            Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="PasswordShow"
            AdornmentAriaLabel="Show Password" />
        <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Large" Class="mt-4" FullWidth="true">Sign up
        </MudButton>
        <div class="d-flex align-center justify-space-between mt-4">
            <MudText Style="margin: auto;">Already have an account? <MudLink Href="/signin">Sign in instead</MudLink>
            </MudText>
        </div>
    </MudForm>
</MudCard>

@code {
    MudTextField<string>? _textFieldPassword;
    bool _isShow;
    InputType _passwordInput = InputType.Password;
    string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
    void PasswordShow()
    {
        @if (_isShow)
        {
            _isShow = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInput = InputType.Password;
        }
        else
        {
            _isShow = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInput = InputType.Text;
        }
    }
}
